body {
  display: flex;
  justify-content: center;
  background-color: darkgrey;
  height: 100vh;
  margin: 0px;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
  min-width: 100%;
  height: 100%;
}

#score {
  font-size: 1.5rem;
}

#game-screen {
  width: 50%;

  padding: 5px;
  box-sizing: border-box;
}

.screen-line {
  display: flex;
  background-color: azure;
}

.screen-cell {
  border: 0.5px solid black;
}
